<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Retweet Network</title>

<!-- CSS Files -->
<link type="text/css" href="static/styles/graph.css" rel="stylesheet" />
<!-- jQuery Library File -->
<script language="javascript" type="text/javascript" src="static/lib/jquery/jquery-1.7.1.js"></script>
<!-- JIT Library File & D3 library file-->
<script language="javascript" type="text/javascript" src="static/lib/d3/d3.v2.js"></script>
<script language="javascript" type="text/javascript" src="static/lib/jit/jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="static/js/network.js"></script>
</head>
<body>
<div id="container">
<div id="center-container">
    <div id="graph"></div>    
</div>
<!--<p>Only nodes with at least 1 retweet are shown in the network.</p>-->
<div id="right-container">
         <div id="tweetinfo">
		 </div>
		 <div id="histogram">
		 </div>
		 <div id="status">
		 </div>
</div>
</div>
</body>
</html>