<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link type="text/css" href="static/styles/sparkline.css" rel="stylesheet" />
    <script type="text/javascript" src="static/lib/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="static/lib/jquery-sparkline/jquery.sparkline.js"></script>
	
    <script type="text/javascript" src="static/js/sparkLine.js"></script>
</head>
<body>
<div id="vizpanel" class="sparkdiv">
<!--Egypt: <span class="dynamicsparkline"></span>-->

</body>
</html>