<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Category Chart Example</title>
        <link rel="stylesheet" type="text/css" href="static/styles/categorychart.css">
		<script language="javascript" type="text/javascript" src="static/lib/jquery/jquery-1.7.1.js"></script>
		<script language="javascript" type="text/javascript" src="static/lib/raphael/raphael-min.js"></script>
        <script language="javascript" type="text/javascript" src="static/lib/raphael/g.raphael-min.js"></script>
        <script language="javascript" type="text/javascript" src="static/lib/raphael/g.dot-min.js"></script>
		<script language="javascript" type="text/javascript" src="static/js/topicChart.js"></script>
    </head>
    <body class="raphael">
        <div id="vizpanel"></div>
    </body>
</html>